@{
    ViewData["Title"] = "Home";
}

<div class="text-container modal-fullscreen">
                <h1 class="text-white">Welcome to the main page</h1>
                <p class="text-white">Your journey starts here!</p>
</div>
        
    

