@{
    ViewData["Title"] = "Home";
}

<div class="text-container">
    <div class="main-page-text">
                <h1 class="text-white">Find your dream job today!</h1>
                <p class="text-white">Your journey starts here!</p>
     </div>
</div>
        
    

