@model Employer
<div class="container">
    <h1>Let's create your profile</h1>
    <form>
        <div class="col-10">
            <label asp-for="ProfileName">Name:</label>
            <input asp-for="ProfileName" type="text" class="form-control">
            <span asp-validation-for="ProfileName" class="text-danger"></span>
       </div>
       <div class="col-10">
            <label asp-for = "ProfileDescription">Description</label>
            <textarea asp-for = "ProfileDescription" class="form-control resizable"></textarea>
            <span asp-validation-for="ProfileDescription" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>