<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="company_logo.png" alt="Company Logo" class="img-fluid">
                </div>
                <div class="col-md-10">
                    <h5 class="card-title">Job Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
                    <p class="card-text">Type of Job</p>
                    <p class="card-text">Job Description goes here. It can include multiple lines and paragraphs.</p>
                    <p class="card-text">Experience Level: Junior/Intermediate/Senior</p>
                    <h6 class="card-subtitle mb-2 text-muted">Skills Required</h6>
                    <ul class="list-unstyled">
                        <li>Skill 1</li>
                        <li>Skill 2</li>
                        <li>Skill 3</li>
                        <li>Skill 4</li>
                    </ul>
                    <a href="#" class="card-link">Apply Now</a>
                </div>
            </div>
        </div>
    </div>
</div>