@using JobPortal.ViewModels;
@model JobPostingViewModel
<div class="container">
    <h1>Let's create your new job advertisement!</h1>
    <form class="form-check" asp-action="Post" method="post" role="form">
        <div class="col-12">
            <label asp-for="Job.JobTitle">Job title</label>
            <input asp-for="Job.JobTitle" type="text" class="form-control" required>
            <span asp-validation-for="Job.JobTitle" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Job.CompanyName">Company name</label>
            <input asp-for="Job.CompanyName" type="text" class="form-control" required>
            <span asp-validation-for="Job.CompanyName" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Job.JobDescription">Job description</label>
            <textarea asp-for="Job.JobDescription" class="form-control" required></textarea>
            <span asp-validation-for="Job.JobDescription" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Job.Location">Location</label>
            <input asp-for="Job.Location" class="form-control" required>
            <span asp-validation-for="Job.Location" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Job.Salary">Net salary (EUR)</label>
            <input asp-for="Job.Salary" type="number" class="form-control" required>
            <span asp-validation-for="Job.Salary" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Job.ApplicationDeadline">Application deadline</label>
            <input asp-for="Job.ApplicationDeadline"type="date" class="form-control">
            <span asp-validation-for="Job.ApplicationDeadline" class="text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="Job.JobType">Work arrangement</label>
            <select asp-for="Job.JobType" class="form-control" required>
                <option value="Remote">Remote</option>
                <option value="Hybrid">Hybrid</option>
                <option value="On-site">On-site</option>
            </select>
            <span asp-validation-for="Job.JobType" class="text-danger"></span>
        </div>
        
       
        <div id="skills-container">
            <div class="btn btn-primary" id="addButton">Add qualification</div>
           
        </div>
    
        

        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>