@using JobPortal.ViewModels;
@model AboutViewModel;
<div class="row">
    <div class="col-md-6">
        <img src="images/job-seekers.jpg" alt="Job Seekers" class="img-fluid">
    </div>
    <div class="col-md-6">
        <h2>For Job Seekers</h2>
        <p>
            @Model.Info1
        </p>
    </div>
</div>

<hr>

<div class="row">
    <div class="col-md-6">
        <h2>For Employers</h2>
        <p>
            @Model.Info2
        </p>
    </div>
    <div class="col-md-6">
        <img src="images/employers.jpg" alt="Employers" class="img-fluid">
    </div>
</div>

<hr>

<div class="text-center">
    <h2>Join Us Today!</h2>
    <p>
        Whether you are a job seeker or an employer, our job portal company is here to help you connect and
        achieve your goals. Join our platform today and experience the benefits of our innovative and
        user-friendly job portal. Let us be your trusted partner in your job search or recruitment process.
        Sign up now and take the next step towards success!
    </p>
    
</div>